/* Estilos globais e reset */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5; /* Cor de fundo suave */
    color: #333;
}

/* Estilos de links e botões */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    cursor: pointer;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

/* Estilos de formulários */
input, select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    box-sizing: border-box; /* Garante que padding e border não afetem o tamanho total */
    width: 100%;
}